{% extends 'index.html' %}
{% block content %}

<div class="col-lg-11 ">
		
	<div class="">
		<h3 class="py-3 float-left">Data sets</h3>
			<form id="quantity" method="POST" 
				class="form-inline float-right col-md-4">	
				<div class="row ">
				{% csrf_token %}
				<div class="col pad30 float-right mt-2" >
				<label for="quantity" 
					class="form-check-label float-left mart10 marr15">
					Rows: 
				</label>
				<input type="number" class="form-control col-md-5 marr15" 
					name="quantity" id="quantity"  value>
				<button 
					form='quantity' 
					name='quantity' 
					type='submit' 
					class='btn btn-primary my-1'>
				Generate
				</button>
				</div> 
			</div>	
			</form>
	</div>

	<table class="table table-bordered ">
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Created</th>
			<th scope="col">Status</th>
			<th scope="col">Actions</th>
		</tr>
		</thead>
		<tbody>
			{% for i in list_schemas %}
				<tr>
					<th scope="row">{{i.id}}</th>
					<td>{{i.modified}}</td>
					<td>{{i.status}}</td>
					<td class="text-center">
						{% if i.status == 'ready_to_download' %}
							<a class="text-primary pr-3" href="media/{{i.link}}" 
								download>
								Download 
							</a> 
						{% endif %}
						</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
